.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Three columns in the same row */
    grid-gap: 20px;
    margin: 50px;
}

.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card h2 {
    font-size: 1.2rem;
    margin: 10px 0;
}
ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #666;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }